<div class="category-box">
    <h2 class="page-title"><%= category.page_title %></h2>

    <img src="/images/<%= category.image %>" alt="<%= category.name %>">
    
    <h2 class="category-title"><%= category.name %></h2>

    <p class="category-description">
        <%= category.page_description %>
    </p>
</div>